body {
    background-color: dimgray;
    background-image: url(Zhenboro_Background.jpg);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

td {
    height: 30px;
    vertical-align: middle;
}

table {
    padding: 8px;
    width: 80%;
}

a {
    text-decoration: none;
    color: dodgerblue;
}
a:hover {   
    color: dodgerblue;
}